<div id="about_container">
    <section id="avatar_s">
        <div id="avatar_pic">
            <img src="https://i.ibb.co/CsRR3c0/Avatarpic.jpg" width="80%" alt="avatar picture">
        </div>
            <h1 id="avatar_text">{{myApi?.firstName+" "+myApi?.lastName}}</h1>
            <h5>Jr. Fullstack Developer</h5>
    </section>
    <section id="about_s">
        <h2>About me</h2>
        <p>I've built SPAs with Angular and React on the Front and Spring Boot on the Back. I'm looking forward to get a jr. developer internship so I can keep on improving my skills. I'm also studying QA/Testing on my own.</p>
    </section>
</div>
