#about_container {
    background-color: var(--pink);
    z-index: 3;
    position: relative;
    top: -15vh;
    display: grid;
    justify-content: stretch;
    grid-template-areas: "avatar_s about_s about_s";
    grid-template-columns: 35% auto auto;
    color: var(--bgdcolor);
    text-align: center;
}

#avatar_s {
    margin-left: .4em;
}

#avatar_pic {
    width: fit-content;
    max-width: 450px;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin: .5em;
    border-radius: 1.25em;
    background-color: var(--blue);
    position: relative;
    top: -7vh;
}

#avatar_pic img {
    background-color: var(--blue);
    border: 0.4em solid var(--blue);
    border-radius: 1.25em;
    z-index: 5;
    position: relative;
    max-width: 95%;
    height: auto;
    vertical-align: middle;
}

#avatar_text {
    text-shadow: 1.5px 1.5px 0 var(--blue), 2px 2px 0 var(--blue);
    position: relative;
    top: -8vh;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
    font-size: 4.9vmin;
}

h5 {
    font-weight: 500;
    position: relative;
    top: -7vh;
    font-family: 'Encode Sans', sans-serif;
    font-size: calc(.5rem + 1.5vmin);
    margin: .5em;
    text-shadow: 1.5px 1.5px 0 var(--blue);
}

h5::before {
    content: "";
    background-color: var(--hoverblue);
    width: 130%;
    height: 2em;
    position: absolute;
    left: -7vw;
    top: -.5vh;
    z-index: -1;
    border-radius: 1.25em;
}

h2 {
    font-size: 4.9vmin;
    text-shadow: 1.5px 1.5px 0 var(--blue), 2px 2px 0 var(--blue);
    font-weight: 600;
    margin-top: .6em;
    z-index: 4;
    position: relative;
    top: 1vh;
}

h2::before {
    content: "";
    background-color: var(--blue);
    width: 90%;
    height: 1em;
    position: absolute;
    left: -4vw;
    top: -1vh;
    z-index: -1;
    border-radius: 0 1.25em 1.25em 0;
}

p {
    font-size: calc(.5rem + 1.5vmin);
    margin: 1.4em;
    font-weight: 300;
}