<div id="banner_container"></div>
<div id="about_container">
    <section id="avatar_s">
        <div id="avatar_pic">
            <img src="https://i.ibb.co/CsRR3c0/Avatarpic.jpg" width="80%" alt="avatar picture">
        </div>
            <h1 id="avatar_text">{{myApi?.firstName+" "+myApi?.lastName}}</h1>
            <h5>Jr. Fullstack Developer</h5>
    </section>
    <section id="about_s">
        <h2>About me</h2>
        <p>I'm a Front end developer with some knowledge of Back end. I'm currently studying QA and testing.
            <br/>
        I work mainly with JavaScript and TypeScript, yet I can also code in Java, Ruby, Python and Dart. I'm team vanilla CSS, but I can work with frameworks and pre-processors if required. I use both React and Angular, and I'm always learning something new.</p>
    </section>
</div>
