<footer>
    <p>Banner picture by Florian Olivo @ <a href="https://unsplash.com/photos/4hbJ-eymZ1o">Unsplash</a>.</p>
    <p>Made with <a href="https://angular.io/docs"><img src="https://angular.io/assets/images/logos/angular/shield-large.svg" /> Angular</a> by <a href="https://github.com/pomipomie/Portfolio_Angular"><i class="bi bi-github"></i> Xiomara Badano</a>.</p>
    <p>Data fetched from an API made with <a href="https://spring.io/projects/spring-boot"><img id="springico" src="https://spring.io/images/spring-logo-9146a4d3298760c2e7e49595184e1975.svg" /></a> by <a href="https://github.com/pomipomie/Portfolio_Back"><i class="bi bi-github"></i> Xiomara Badano</a>.</p>
</footer>