nav {
    width: 100vw;
    background-color: var(--blue);
    color: var(--bgdcolor);
    margin: 0;
    position: fixed;
    z-index: 6;
    padding: .3em 0;
}

#nav_ul {
    margin: 0;
    padding: .5em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
    font-size: 4.5vmin;
    list-style-type: none;
}

#nav_ul i {
    font-size: 1.4em;
}

#toggles {
    display: none;
}