@import url(https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap);

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --bgdcolor: #FFF7FD;
    --blue: #0E043B;
    --hoverblue: #1b0c5e;
    --pink: hsl(331, 89%, 55%);
    --grey: #bcbcbe;
}

html .dark {
    --bgdcolor: #03010c;
    --blue: #FFF7FD;
    --grey: #242494;
}

body {
    margin: 0;
    background-color: var(--bgdcolor);
    font-size: 5.5vw;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body>* {
    max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

#card_container {
    padding: 4vmin 0;
}

.card_title {
    margin: 1em 0;
    font-family: 'Encode Sans', sans-serif;
    font-size: calc(.5rem + 3vw);
    color: var(--blue);
    text-align: center;
    text-shadow:
    -1px -1px 0 var(--bgdcolor),  
    1px -1px 0 var(--bgdcolor),
    -1px 1px 0 var(--bgdcolor),
    1px 1px 0 var(--bgdcolor);
    z-index: 2;
    position: relative;
}

.card_title::before {
    content: "";
    background-color: var(--pink);
    width: 90%;
    height: 1.15em;
    position: absolute;
    left: -4vw;
    top: -1.75vh;
    z-index: -1;
    border-radius: 0 1.25em 1.25em 0;
}

.content_container {
    display: flex;
    padding: 0 1em 1em 1em;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: .5em;
}

.card_content {
    color: var(--blue);
}

.card_content h3 {
    font-family: 'Encode Sans', sans-serif;
    font-size: 4.5vmin;
    font-weight: 600;
}

.card_content h4 {
    font-family: 'Encode Sans', sans-serif;
    font-size: 4vmin;
    font-weight: 500;
}

.card_content p {
    font-size: calc(.55rem + 1.5vw);
    font-weight: 300;
    margin: .5em auto;
}

.tag_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vmin;
    margin: auto;
}

.tag_btn {
    background-color: var(--hoverblue);
    color: var(--bgdcolor);
    padding: .6em;
    border-radius: .7em;
    letter-spacing: .05em;
    font-family: 'Encode Sans', sans-serif;
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 12px;
    }
    .card_title, .card_content h3 {
        font-size: 2.75rem;
    }
    .card_content h4 {
        font-size: 2.25rem;
    }
    .card_content p {
        font-size: 1.7rem;
    }
}